#MLProperties: name (type:default) min:max -- information
#MLProp : allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
#
#Wed Mar 06 20:05:24 CET 2013
allowUpdateCheck=true
